---
import "../styles/global.css"

interface Props {
  title?: string
}

const { title = "Richard Vinueza" } = Astro.props
const browserThemeColor = "#131222"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content={browserThemeColor} />
    <meta
      name="theme-color"
      content={browserThemeColor}
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content={browserThemeColor}
      media="(prefers-color-scheme: light)"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen text-neutral-100 antialiased">
    <slot />
  </body>
</html>
